
        body {
            background-color: #f4f4f4; /* Light background for contrast */
            font-family: Arial, sans-serif; /* Font family */
            color: #333; /* Text color */
          
        }
    